{% extends 'base.html' %} {% block title %} Jazzle {% endblock %} {% block body
%}
<div class="flex flex-col min-h-screen">
  <div class="h-8"></div>
  <!-- The search input -->
  <div class="flex flex-row justify-center" id="search">
    <input
      class="border-2"
      hx-get="/search"
      hx-target="#results"
      placeholder="Find a standard!"
    />
    <h2
      hx-get="/advanced_search"
      hx-target="#advanced_search"
      class="font-extrabold color-slate-200"
    >
      Advanced Search
    </h2>
  </div>
  <!-- The search results; posters with the song data returned by backend -->
  <div id="results" class="grid grid-cols-5">
    <div class="rounded overflow-hidden shadow-md">
      <!-- Only the desired sheet music is shown, but there is text notating the parts included -->
      <embed
        src="{{ url_for('showcase.download', title='ornithology') }}"
        alt="The sheet music for the song"
      />
      <h1 class="font-extrabold text-lg text-center">Ornithology</h1>
      <h2 class="text-sm text-center">Parts for C, Bb, Eb, and Bass</h2>
    </div>
  </div>
  <!-- Need pagination as well -->
  <!-- Needs to be clickable so you can scroll through, listen to audio, and download -->
</div>
{% endblock %}
