{% extends 'base.html' %} {% block title %} Jazzle {% endblock %} {% block body
%}
<div class="flex flex-col min-h-screen">
  <div class="h-8"></div>
  <!-- The search input -->
  <div class="flex flex-row justify-center" id="search">
    <input
      class="border-2"
      hx-get="/search"
      hx-target="#results"
      placeholder="Find a standard!"
    />
    <!-- <h2
      hx-get="/advanced_search"
      hx-target="#advanced_search"
      class="font-extrabold color-slate-200"
    >
      Advanced Search
    </h2> -->
  </div>
  <!-- The search results; posters with the song data returned by backend -->
  <div
    id="results"
    class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-4 pad-4"
  >
    {% for song in songs %} {% if song.selected %}
    <div class="bg-white p-4 shadow-md">
      <h2 class="bg-slate-300 text-center text-lg font-bold">
        {{ song.title }}
      </h2>
      <div class="flex justify-center">
        <img src="/../{{song.poster}}" class="w-64 h-64 object-cover" />
      </div>
      <div class="flex justify-center mt-4">
        {% if song.c_sheet_music %}
        <button
          class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded"
        >
          C Sheet Music
        </button>
        {% endif %} {% if song.bb_sheet_music %}
        <button
          class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded ml-2"
        >
          Bb Sheet Music
        </button>
        {% endif %}
      </div>
      <div class="flex justify-center mt-4">
        {% if song.eb_sheet_music %}
        <button
          class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded"
        >
          Eb Sheet Music
        </button>
        {% endif %} {% if song.bass_sheet_music %}
        <button
          class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded ml-2"
        >
          Bass Sheet Music
        </button>
        {% endif %}
      </div>
      <div class="flex justify-center mt-4">
        {% if song.audio %}
        <button
          class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded"
        >
          Audio
        </button>
        {% endif %}
      </div>
    </div>

    {% endif %} {% endfor %}
  </div>
  {% endblock %}
</div>
