{% extends 'base.html' %} {% block title %} Jazzle {% endblock %} {% block body
%}
  <div id="main">
    <div class="flex flex-row justify-between p-5">
      <div></div>
      <form id="guess_form" action="/guess" method="post">
        <input
          class="mx-auto outline text-center"
          placeholder="Guess your song here!"
          name="song"
        />
        <button
          id="submitter"
          class="btn"
          type="submit"
        >
          <i class="fa-solid fa-arrow-right"></i>
        </button>
        <!-- hx-target-200="#guess_{{guesses - 1}}"
          hx-target-202="#body" -->
        <!-- <script>
          document.getElementById('submitter').addEventListener('submit', function(event) {
            // Assuming you have a way to determine if the guess is correct
            if (isCorrectGuess) {
              event.preventDefault(); // Prevent default form submission
              window.location.reload(); // Reload the entire page
            }
          });
        </script> -->
      </form>
      <div class="ml-8"></div>
    </div>
    <div class="h-6"></div>
    <div class="flex flex-row justify-between">
      <div></div>
      <div id="guess_counter" class="flex flex-row">
        {% for guess in range(guesses) %}
        <img
          src="static/images/note.png"
          alt="A musical note"
          height="30xl"
          width="30xl"
        />
        {% endfor %}
      </div>
      <div class="w-12"></div>
    </div>
    <div class="h-6"></div>
    <div class="flex flex-row justify-around items-center">
      <div class="flex flex-col justify-center">
        {% block form %}
        <h2 id="guess_7">Form: {{form}}</h2>
        {% endblock %} {% block genre %}
        <h2 id="guess_6">Genre: {{genre}}</h2>
        {% endblock %}
      </div>
      <div class="flex flex-col justify-center">
        {% block composer %}
        <h2 id="guess_3">Composed by: {{composer}}</h2>
        {% endblock %} {% block performer %}
        <h2 id="guess_2">Performed by: {{performer}}</h2>
        {% endblock %}
      </div>
    </div>
    <div class="flex flex-row justify-center">
      <!-- Note that all of the images have the extra margin for one extra sharp or flat, so they all align height-wise -->
      <!-- Load the clef -->
      <!-- {% if instrument == "Bass" %} -->
      <!-- <img src="static/images/bass.png" alt="Bass clef" height="20%" /> -->
      <!-- {% else %} -->
      <img src="static/images/treble.png" alt="Treble clef" height="20%" />
      <!-- {% endif %} -->
      {% if guesses < 6 %}
      <img
        id="guess_5"
        src="static/images/{{key}}_{{clef}}.png"
        alt="A musical key"
        height="20%"
      />
      {% endif %}
      <!-- Load the time signature; uses partial html -->
      {% if guesses < 5 %}
      <img
        id="guess_4"
        src="static/images/{{time_signature}}.png"
        alt="A musical key"
        height="20%"
      />
      {% endif %}
      <!-- The rest of the staff -->
      <img
        src="static/images/staff.png"
        alt="A musical staff"
        height="20%"
        width="50%"
      />
      <!-- <div class="flex flex-col items-center justify-center">
                <div class="bg-black w-2/3 h-1"></div>
                <div class="h-8"></div>
                <div class="bg-black w-2/3 h-1"></div>
                <div class="h-8"></div>
                <div class="bg-black w-2/3 h-1"></div>
                <div class="h-8"></div>
                <div class="bg-black w-2/3 h-1"></div>
                <div class="h-8"></div>
                <div class="bg-black w-2/3 h-1"></div>
            </div> -->
    </div>
    <div class="flex flex-row justify-between">
      <div class="ml-8"></div>
      {% if guesses < 2 %}
      <audio controls id="guess_1" hx-swap-oob="true">
        <source src="{{audio_clip}}" type="audio/mpeg" />
      </audio>
      {% endif %}
      <!-- <audio controls>
                    <source id="guess_1" src="{{audio}}" type="audio/mpeg" duration="{{duration}}">
                </audio> -->
      <div class="ml-8"></div>
    </div>
  </div>
  {% endblock %}
</div>
