<!-- Update button so next element gets replaced appropriately -->
<form id="guess_form" hx-swap-oob="true" action="/guess" method="post">
  <input
    class="mx-auto outline text-center"
    placeholder="Guess your song here!"
    name="song"
  />
  <button id="submitter" class="btn" type="submit">
    <i class="fa-solid fa-arrow-right"></i>
  </button>
</form>
<!-- Update guess counter -->
<div id="guess_counter" class="flex flex-row" hx-swap-oob="true">
  {% for guess in range(guesses) %}
  <img
    src="static/images/note.png"
    alt="A musical note"
    height="30xl"
    width="30xl"
  />
  {% endfor %}
</div>
<audio controls id="guess_1" hx-swap-oob="true">
  <source src="jazzle_data/static/audio/{{audio_clip}}" type="audio/mpeg" />
</audio>
